/.vagrant
/deb
/docker-compose
mystem
bashttpd
/test/PrettyOutput.html
/test/*.bin
/tomita-linux64
/*.log
/target/
/.settings
/.classpath
/.project
.built
.idea
*.iml
/jdk-8u111-linux-x64.tar.gz
/logs/metabase.log
/metabase.jar
/main.html
/main.md
/main2.md
node_modules

